*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --navy: #33475B;
  --grey: #2D2F30;
  --n-gray: #8B8C8C;
  --h-font: "Playfair Display", serif;
  --p-font: "Poppins", sans-serif;
  --dark-navy: #094B72;
}
body{
  font-family: var(--p-font);
}

ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--grey);
}

.container{
  width: 1320px;
  margin: 0 auto;
}

/* nav start  */
nav{
  padding: 32px 0;
}

nav .nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-wrapper .nav-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
nav .nav-wrapper .nav-items ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  color: var(--grey);
  line-height: 23px;
  font-size: 12px;
}
/* nav end  */
/* banner start  */
#banner{
  /* padding-top: 132px; */
}
#banner .banner-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner-left h1{
  width: 800px;
  font-size: 90px;
  color: var(--dark-navy);
  font-family: var(--h-font);
  line-height: 120%;
}
#banner .banner-left p{
  width: 578px;
  font-size: 24px;
  color: var(--n-gray);
  margin-top: 40px;
  margin-bottom: 36px;
  line-height: 158%;
}
#banner .banner-left button{
  padding: 28px 36px;
  color: white;
  background: var(--dark-navy);
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--dark-navy);
  margin-bottom: 115px;
}
#banner .banner-left button:hover{
  color: var(--dark-navy);
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--dark-navy);
}
#banner .banner-left .companies p{
  color: #8B8C8C;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 34px;
  margin-top: 0px;
}
#banner .banner-left {
  width: 50%;
}
#banner .banner-right img{
  margin-right: -44px;

}
/* banner end  */




/* counter start  */
#counter{
  text-align: center;
}
#counter .box{
  display: flex;
  width: 825px;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
/* counter end  */